	<%= form_tag change_location_path(), remote: true do %>
		<%= select_tag "location", options_for_select(Meal.locations_for_display) %>
		<%= submit_tag "GOOOO" %>
	<% end %>
<div id="meal_section">
	<%= render partial: "meal_section" %>
</div>